extends ../layout

block content
  h1 login
  if errors
    ul
      for err in errors
        li= err.msg
      p please try again
  form(action="/auth/login" id="login-form" method="post")
    div
      label(for="email") Email address
      input(type="email" name="email" placeholder="email address" value=email required)
    div
      label(for="password") Password
      input(type="password" name="password" placeholder="enter password" value=password required)
    button(type="submit" form="login-form") login
