extends ../layout

block stylesheet
  link(rel='stylesheet', href='/css/login.css')

block content
  .text-center
    h1.h3.mb-3.font-weight-normal login
    if error
      p= error
      p please try again
    form.form-login(action="/login" id="login-form" method="post" enctype="application/x-www-form-urlencoded")
      div
        label.sr-only(for="email") Email address
        input.form-control(type="email" name="email" placeholder="email address" value=email required)
      div
        label.sr-only(for="password") Password
        input.form-control(type="password" name="password" placeholder="enter password" value=password required)
      button.btn.btn-lg.btn-primary.btn-block(type="submit" form="login-form") login
    p Don't have an account? #[a(href="/register") register your account]
