extends ../layout

block navbar
  include ../navbar

block content
  .container
    h1= product.name
    p #[b #{product.price}]€, #[b #{product.points}] points
    div
      img(src=image, alt="image")
    span.material-icons add_shopping_cart
