extends layout

block content
  h1 #{siteName}
  p Welcome to the home page
  p.
    Show login prompt if user is not logged in#[br]
    Otherwise display from db: #[i items], #[i prices], #[i points]?
