extends layout

block content
  h1 #{siteName}
  p Welcome to the home page
  if !user
    p please #[a(href="/login") login] or #[a(href="/register") register]
  else
    p Display from store collection: #[i items], #[i prices], #[i points]
    p See your #[a(href="/account") account]
