extends layout

block content
  h1 login
  form(action="/auth/login" id="login-form" method="post")
    input(type="email" name="email" id="email" placeholder="email address" required)
    input(type="password" name="password" id="password" placeholder="enter password" required)
    button(type="submit" form="login-form") login
