block dependencies
- if(typeof title === "undefined") title = null;
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title !{title != null ? `${title} - ` : ""}#{siteName}
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    block stylesheet
  body
    block content
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
  //
    Made with </> and <3 by
    Philippe Loctaux and Alexandre Wagner
    Source code is available here: https://github.com/x4m3/puffy-pocket
