nav.navbar.navbar-expand-lg.navbar-light.bg-light
  span.navbar-brand.mb-0.h1 #{siteName}
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    .navbar-nav.mr-auto
      if route == "/"
        a.nav-item.nav-link.active(href="/")
          | Home
          span.sr-only (current)
      else
        a.nav-item.nav-link(href="/")
          | Home
    .navbar-nav
      .nav-item
      if route == "/account"
        a.nav-link.active(href="/account")
          img.d-inline-block.align-top(src="/account/avatar?size=20", alt="")
          | Account
          span.sr-only (current)
      else
        a.nav-link(href="/account")
          img.d-inline-block.align-top(src="/account/avatar?size=20", alt="")
          | Account
      a.nav-item.nav-link(href="/logout")
        | Logout
