nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  span.navbar-brand.mb-0.h1 #{siteName}
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    .navbar-nav.mr-auto
      a.nav-item.nav-link(href="/")
        span.material-icons home
        | Home
      a.nav-item.nav-link(href="/admin")
        span.material-icons build
        | Admin
      .nav-item.dropdown
        a#navbarDropdownProducts.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Products
        .dropdown-menu(aria-labelledby='navbarDropdownProducts')
          a.nav-link.text-dark(href="/admin/products")
            span.material-icons format_list_bulleted
            | Product list
          a.nav-link.text-dark(href="/admin/products/add")
            span.material-icons add
            | Add product
      .nav-item.dropdown
        a#navbarUsersProducts.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Users
        .dropdown-menu(aria-labelledby='navbarDropdownUsers')
          a.nav-link.text-dark(href="/admin/users")
            span.material-icons format_list_bulleted
            | User list
          a.nav-link.text-dark(href="/admin/users/add")
            span.material-icons add
            | Add user

    .navbar-nav
      .nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | #{user.email}
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.nav-link.text-dark(href="/account")
            span.material-icons account_circle
            | Account
          a.nav-link.text-dark(href="/logout")
            span.material-icons power_settings_new
            | Logout
