nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  span.navbar-brand.mb-0.h1 #{siteName}
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    .navbar-nav.mr-auto
      a.nav-item.nav-link(href="/admin")
        span.material-icons supervised_user_circle
        | Admin
    .navbar-nav
      a.nav-item.nav-link(href="/")
        span.material-icons exit_to_app
        | Back to site
