extends ../layout

block navbar
  include ../navbar-admin

block content
  .container
    main
      h1 Admin panel
      p number of users in database
      p number of products in database
      p number of products available to buy
      p number of total sells today
      p some stats about the site
