extends ../layout

block navbar
  include ../navbar-admin

block content
  .container
    h1 Add product
    if error
      .alert.alert-danger.alert-dismissible.fade.show(role='alert')
        .
          #{error}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
    form(action="/admin/products/add", method="post" id="item-form" enctype="multipart/form-data")
      .form-group
        label(for="name") Product name
        input.form-control(type="text" id="name" name="productName" aria-describedby="nameHelp" placeholder="Enter product name" required)
        small#nameHelp.form-text.text-muted How the product name will be displayed on the website
      .form-group
        label(for="price") Price
        input.form-control(type="number" id="price" name="price" aria-describedby="priceHelp" placeholder="Set price" required)
        small#priceHelp.form-text.text-muted Price of the product in Euros (€)
      .form-group
        label(for="points") Points
        input.form-control(type="number" id="points" name="points" aria-describedby="pointsHelp" placeholder="Set points" required)
        small#pointsHelp.form-text.text-muted How much points will be given when buying this product
      .form-group
        label(for="image") Image
        input.form-control-file(type="file" id="image" name="image" aria-describedby="imageHelp" required)
        small#imageHelp.form-text.text-muted Please make sure your image is either a #[b jpg], #[b jpeg], #[b png] or #[b webp] file.
      .form-group
        label Available
        .form-check
          input.form-check-input(type="radio" id="availableTrue" name="available" aria-describedby="availableHelp" value="true" checked)
          label.form-check-label(for="availableTrue") Yes
        .form-check
          input.form-check-input(type="radio" id="availableFalse" name="available" aria-describedby="availableHelp" value="false")
          label.form-check-label(for="availableFalse") No
        small#availableHelp.form-text.text-muted Is the product available right now to buy?
      button.btn.btn-primary(type="submit" form="item-form") Add product
