extends ../layout

block content
  .container
    .row
      .col-md-12
        div(style={ "padding": "40px 15px" })
          h1 Access forbidden
          p Sorry, but you are not allowed to access the address #[b #{url}].
          p
            a.btn.btn-primary(href="/") Go to homepage
