extends ../layout

block content
  .container
    .row
      .col-md-12
        div(style={ "padding": "40px 15px" })
          h1 Page not found
          p The address #[b #{url}] could not be found on #{siteName}.
          p Maybe the page has been deleted, or moved to another place.
          p
            a.btn.btn-primary(href="/") Go to homepage
