extends ../layout

block content
  h1 login
  if error
    p= error
    p please try again
  if message
    p= message
  form(action="/login" id="login-form" method="post" enctype="application/x-www-form-urlencoded")
    div
      label(for="email") Email address
      input(type="email" name="email" placeholder="email address" value=email required)
    div
      label(for="password") Password
      input(type="password" name="password" placeholder="enter password" value=password required)
    button(type="submit" form="login-form") login
  p Don't have an account? #[a(href="/register") register your account]
